// Brand Colors
$s5_color-brand-color-1: #9C75F3 !default;
$s5_color-brand-color-2: mediumblue !default;
$s5_color-brand-color-3: #a10000 !default;

// Greyscale Base Colors
$s5_color-soft-white: #FAFCFC !default;
$s5_color-soft-black: #0D0C0C !default;

// Contextual Base Colors
$s5_color-focus-base: #002eff !default;
$s5_color-info-base: #002eff !default;
$s5_color-alert-base: gold !default;
$s5_color-warning-base: #f14400 !default;
$s5_color-danger-base: #dc1414 !default;
$s5_color-success-base: #1aaa35 !default;


// Color Function Features
$s5_color-scale-step-total: 19 !default; // must be an odd number