$s5_viewport-micro: 320px !default;
$s5_viewport-xs: 640px !default;
$s5_viewport-sm: 768px !default;
$s5_viewport-md: 1024px !default;
$s5_viewport-lg: 1440px !default;
$s5_viewport-xl: 1600px !default;
$s5_viewport-massive: 2200px !default;