

hr {
  border: none;
  border-top: set-size(pixel) solid get-color(gray, 6);
  margin: set-size(20) 0 set-size(10);
}

.main-foot__logos {
  padding: 0;
  margin-bottom: set-size(4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  img {
    display: block;
    height: set-size(14);
    
  }
  
  img + img {
    margin-left: set-size(2);
  }
}

.main-foot p {
  @include set-type(body, 5);
  margin-bottom: set-size(10);
}