.o-btn,
.o-btn:visited,
button,
[type="button"],
[type="reset"] {
  border: none;
  border-radius: $border-radius-medium;
  box-shadow: light-shadow(3, brand-color-1);
  color: grayscale(white);
  cursor: pointer;
  display: inline-block;
  font: type-ui(2, $font-bold);
  letter-spacing: 0.1ex;
  margin: .4rem;
  padding: 1rem 1.6rem;
  text-decoration: none;
  text-shadow: 0 0.1rem 0 color(brand-color-1, -2);
  text-transform: uppercase;
  transition: $timing-transitions background, $timing-transitions transform, $timing-transitions box-shadow;
  vertical-align: middle;
  @extend .disable-text-select;

  &.is-focus,
  &:focus,
  &:hover,
  &.is-hover {
    background: lin-gradient(brand-color-1, light);
    box-shadow: light-shadow(5, brand-color-1);
    transform: translateY(-2px);
  }

  &:focus,
  &.is-focus {
    box-shadow: light-shadow(5, brand-color-1), inset 0 0 0 1px color(brand-color-1), inset 0 0 0 2px grayscale(white);
    outline: none;
  }

  &:active,
  &.is-active {
    background: lin-gradient(brand-color-1, dark);
    color: grayscale(white, 0.85);
    box-shadow: light-shadow(1, brand-color-1);
    transform: translateY(0);
  }

  &:disabled,
  &[disabled],
  &.is-disabled {
    background: color(brand-color-1);
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;

    &:focus,
    &:hover,
    &:active {
      transform: translateY(0);
    }
  }
}
