.o-btn,
.o-btn:visited,
button,
[type="button"],
[type="submit"],
[type="reset"] {
  background: grayscale(4);
  border: none;
  border-radius: 0.3rem;
  color: grayscale(black);
  cursor: pointer;
  display: inline-block;
  font: type-ui(2, 500);
  padding: 0.4rem 0.6rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 150ms;
  vertical-align: middle;
  -webkit-appearance: none;

  @extend .disable-text-select;

  &:hover,
  &:focus {
    background: grayscale(3);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px grayscale(3), inset 0 0 0 2px grayscale(white);
    outline: none;
  }

  &:active {
    background: grayscale(2);
  }

  &:disabled,
  &[disabled],
  &.is-disabled {
    background: grayscale(4);
    opacity: 0.5;
  }

  &:disabled:focus,
  &[disabled]:focus,
  &.is-disabled:focus {
    background: grayscale(4);
  }
}

// .o-btn,
// .o-btn:visited,
// button,
// [type="button"],
// [type="reset"] {
//   text-decoration: none;
//   text-shadow: 0 0.1rem 0 color(brand-color-1, -2);
//   text-transform: uppercase;
//   transition: $timing-transitions background, $timing-transitions transform, $timing-transitions box-shadow;
//   vertical-align: middle;
//   @extend .disable-text-select;
//
//   &.is-focus,
//   &:focus,
//   &:hover,
//   &.is-hover {
//     background: lin-gradient(brand-color-1, light);
//     box-shadow: light-shadow(5, brand-color-1);
//     transform: translateY(-2px);
//   }
//
//   &:focus,
//   &.is-focus {
//     box-shadow: light-shadow(5, brand-color-1), inset 0 0 0 1px color(brand-color-1), inset 0 0 0 2px grayscale(white);
//     outline: none;
//   }
//
//   &:active,
//   &.is-active {
//     background: lin-gradient(brand-color-1, dark);
//     color: grayscale(white, 0.85);
//     box-shadow: light-shadow(1, brand-color-1);
//     transform: translateY(0);
//   }
//
//   &:disabled,
//   &[disabled],
//   &.is-disabled {
//     background: color(brand-color-1);
//     box-shadow: none;
//     cursor: not-allowed;
//     opacity: 0.5;
//     pointer-events: none;
//
//     &:focus,
//     &:hover,
//     &:active {
//       transform: translateY(0);
//     }
//   }
// }
