:not(#sr-only-specificity-fix) {
  &.u-sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: .1rem;
    margin: -.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: .1rem;

    &-focusable:active,
    .u-sr-only-focusable:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

[disabled],
[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;

  // @TODO replace with _disable-text-select
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
   -khtml-user-select: none; // Konqueror HTML
     -moz-user-select: none; // Firefox
      -ms-user-select: none; // Internet Explorer/Edge
          user-select: none; // Non-prefixed version, currently supported by Chrome and Opera
}


// Hiding Elements
[hidden] {
  display: none;
}

[aria-hidden="true"] {
  visibility: hidden;
}
