@mixin focusable-only {
  &:not(#specificity-override) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:active,
    &:focus {
      @include zindex(focusable-only);
      width: auto;
      height: auto;
      margin: 0;
      clip: auto;
      overflow: visible;
    }
  }
}