$s5_map--color: ( // pinks
pink: pink,
lightpink: lightpink,
hotpink: hotpink,
deeppink: deeppink,
palevioletred: palevioletred,
mediumvioletred: mediumvioletred,
// reds
lightsalmon: lightsalmon,
salmon: salmon,
darksalmon: darksalmon,
lightcoral: lightcoral,
indianred: indianred,
crimson: crimson,
firebrick: firebrick,
darkred: darkred,
red: red,
//oranges
orangered: orangered,
tomato: tomato,
coral: coral,
darkorange: darkorange,
orange: orange,
// yellows
yellow: yellow,
lightyellow: lightyellow,
lemonchiffon: lemonchiffon,
lightgoldenrodyellow: lightgoldenrodyellow,
papayawhip: papayawhip,
moccasin: moccasin,
peachpuff: peachpuff,
palegoldenrod: palegoldenrod,
khaki: khaki,
darkkhaki: darkkhaki,
gold: gold,
// browns
cornsilk: cornsilk,
blanchedalmond: blanchedalmond,
bisque: bisque,
navajowhite: navajowhite,
wheat: wheat,
burlywood: burlywood,
tan: tan,
rosybrown: rosybrown,
sandybrown: sandybrown,
goldenrod: goldenrod,
darkgoldenrod: darkgoldenrod,
peru: peru,
chocolate: chocolate,
saddlebrown: saddlebrown,
sienna: sienna,
brown: brown,
maroon: maroon,
// greens
darkolivegreen: darkolivegreen,
olive: olive,
olivedrab: olivedrab,
yellowgreen: yellowgreen,
limegreen: limegreen,
lime: lime,
lawngreen: lawngreen,
chartreuse: chartreuse,
greenyellow: greenyellow,
springgreen: springgreen,
mediumspringgreen: mediumspringgreen,
lightgreen: lightgreen,
palegreen: palegreen,
darkseagreen: darkseagreen,
mediumaquamarine: mediumaquamarine,
mediumseagreen: mediumseagreen,
seagreen: seagreen,
forestgreen: forestgreen,
green: green,
darkgreen: darkgreen,
// cyans
cyan: cyan,
'aqua': aqua,
lightcyan: lightcyan,
paleturquoise: paleturquoise,
aquamarine: aquamarine,
turquoise: turquoise,
mediumturquoise: mediumturquoise,
darkturquoise: darkturquoise,
lightseagreen: lightseagreen,
cadetblue: cadetblue,
darkcyan: darkcyan,
teal: teal,
// blues
lightsteelblue: lightsteelblue,
powderblue: powderblue,
lightblue: lightblue,
skyblue: skyblue,
lightskyblue: lightskyblue,
deepskyblue: deepskyblue,
dodgerblue: dodgerblue,
cornflowerblue: cornflowerblue,
steelblue: steelblue,
royalblue: royalblue,
blue: blue,
mediumblue: mediumblue,
darkblue: darkblue,
navy: navy,
midnightblue: midnightblue,
// purples
lavender: lavender,
thistle: thistle,
plum: plum,
violet: violet,
orchid: orchid,
fuchsia: fuchsia,
'magenta': magenta,
mediumorchid: mediumorchid,
mediumpurple: mediumpurple,
blueviolet: blueviolet,
darkviolet: darkviolet,
darkorchid: darkorchid,
rebeccapurple: rebeccapurple,
darkmagenta: darkmagenta,
purple: purple,
indigo: indigo,
darkslateblue: darkslateblue,
slateblue: slateblue,
mediumslateblue: mediumslateblue,
// lights
white: white,
snow: snow,
honeydew: honeydew,
mintcream: mintcream,
azure: azure,
aliceblue: aliceblue,
ghostwhite: ghostwhite,
whitesmoke: whitesmoke,
seashell: seashell,
beige: beige,
oldlace: oldlace,
floralwhite: floralwhite,
ivory: ivory,
antiquewhite: antiquewhite,
linen: linen,
lavenderblush: lavenderblush,
mistyrose: mistyrose,
// darks
gainsboro: gainsboro,
lightgray: lightgray,
silver: silver,
darkgray: darkgray,
gray: gray,
dimgray: dimgray,
lightslategray: lightslategray,
slategray: slategray,
darkslategray: darkslategray,
black: black,
// custom
primary: $s5_color-brand-color-1,
secondary: $s5_color-brand-color-2,
tertiary: $s5_color-brand-color-3,
soft-white: $s5_color-soft-white,
soft-black: $s5_color-soft-black,
// contextual
focus: $s5_color-focus-base,
info: $s5_color-info-base,
alert: $s5_color-alert-base,
warning: $s5_color-warning-base,
danger: $s5_color-danger-base,
success: $s5_color-success-base,
) !default;
