// Brand Colors
$brand-color-1:      #9C75F3 !default;
$brand-color-2:      mediumblue !default;
$brand-color-3:      #a10000 !default;

// Greyscale Base Colors
$soft-white:         #FAFCFC !default;
$soft-black:         #0D0C0C !default;

// Contextual Base Colors
$focus-base:         #002eff !default;
$info-base:          #002eff !default;
$alert-base:         gold !default;
$warning-base:       #f14400 !default;
$danger-base:        #dc1414 !default;
$success-base:       #1aaa35 !default;