.type-intro__heading {
  @include set-type(display, 18, medium);
  @include set-type-line-height(xxs);
}

.type-intro__description {
  @include set-type(body, 10);
  max-width: set-size(200);
  padding-bottom: set-size(50);
  border-bottom: set-size(pixel) solid get-color(grey, 7);

  @include dark-mode {
    border-bottom-color: get-color(black);
  }
}

.section-heading {
  @include set-type(display, 16, light);
  @include set-type-line-height(xxs);
}

.section-description {
  @include set-type(text, 8);
}

.content-section {
  margin-bottom: set-size(50);
  display: block;
}

.section-type {
  @include set-type(display, 6, medium);
  margin-top: set-px(-50);
  margin-bottom: set-size(12);
  letter-spacing: 0.05ex;

  &--mixin {
    color: get-color(crimson);
  }

  &--function {
    color: get-color(green);
  }
}

.section-preview {
  display: block;
  padding: 0;
}

.section-preview__pre {
  @include border-radius(5px);
  background-color: get-color(black, 8);
  padding: 0 set-size(8);
  display: block;
  margin-bottom: set-size(10);

  @include dark-mode {
    background-color: get-color(white, -7);
    color: get-color(white);
  }
}

.section-preview__code {
  @include set-type(code, 5);
  display: block;
}
