// Font size calculator
@function font-size($step) {
  $stripped-base: (strip-unit($font-scale-base));
  $font-size-calc: ($stripped-base * pow($font-scale-modifier, (($step - 1))));
  $rem-font-size: (px($font-size-calc));

  @return $rem-font-size;
}