html,
body {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

[disabled],
[aria-disabled="true"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none; }

[hidden] {
  display: none; }

[aria-hidden="true"] {
  visibility: hidden; }

.wrapper {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  overflow-y: none;
  min-height: 100vh; }

.content-wrapper {
  background-color: white;
  padding: 0.5rem 12.5rem;
  width: calc(100% - 25rem);
  overflow-y: scroll; }
  @media screen and (min-width: 2200px) {
    .content-wrapper {
      width: 70%; } }
  @media (prefers-color-scheme: dark) {
    .content-wrapper {
      background-color: #1c1c1c;
      color: white; } }

@keyframes heading-kaleidoscope {
  0% {
    color: red; }
  10% {
    color: orange; }
  20% {
    color: goldenrod; }
  30% {
    color: yellowgreen; }
  40% {
    color: green; }
  50% {
    color: teal; }
  60% {
    color: blue; }
  70% {
    color: violet; }
  80% {
    color: pink; }
  100% {
    color: red; } }
.header {
  border-bottom: 0.0625rem solid #e3e3e3;
  display: block;
  margin-bottom: 5rem; }
  @media (prefers-color-scheme: dark) {
    .header {
      border-bottom-color: black; } }

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-heading {
  font-size: 1.8040672364rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-style: normal; }

.header-anchor {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  animation-name: heading-kaleidoscope;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  text-decoration: none;
  padding: 0.5rem;
  margin-left: -0.5rem; }
  .header-anchor:focus, .header-anchor:hover {
    background-color: papayawhip; }

.header-nav__list {
  list-style-type: none;
  padding: 0; }

.header-nav__list-item {
  display: inline-flex; }
  .header-nav__list-item + .header-nav__list-item {
    margin-left: 2.5rem; }

.header-nav__anchor {
  font-size: 1.0011291504rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  position: relative;
  padding: 0.125rem;
  transition: color 100ms ease; }
  @media (prefers-color-scheme: dark) {
    .header-nav__anchor {
      color: rgba(255, 255, 255, 0.6); } }
  .header-nav__anchor:after {
    width: 100%;
    position: relative;
    bottom: 0;
    height: 0.125rem;
    content: '';
    background: linear-gradient(to right, #ffcd71, #e3abb4);
    display: block;
    transform: scaleX(0);
    transition: opacity 100ms ease, transform 150ms ease-in;
    opacity: 0; }
  .header-nav__anchor:focus, .header-nav__anchor:hover {
    color: black; }
    @media (prefers-color-scheme: dark) {
      .header-nav__anchor:focus, .header-nav__anchor:hover {
        color: white; } }
    .header-nav__anchor:focus:after, .header-nav__anchor:hover:after {
      opacity: 1;
      transform: scaleX(1); }

.sidebar {
  background-color: #f1f1f1;
  content: '';
  display: block;
  width: 25rem; }
  @media screen and (min-width: 2200px) {
    .sidebar {
      width: 30%; } }
  @media (prefers-color-scheme: dark) {
    .sidebar {
      background-color: black; } }

.type-intro__heading {
  font-size: 4.6288477772rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-style: normal;
  line-height: 1; }

.type-intro__description {
  font-size: 1.8040672364rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  max-width: 50rem;
  padding-bottom: 12.5rem;
  border-bottom: 0.0625rem solid #e3e3e3; }
  @media (prefers-color-scheme: dark) {
    .type-intro__description {
      border-bottom-color: black; } }

.section-heading {
  font-size: 3.6573612067rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-style: normal;
  line-height: 1; }

.section-description {
  font-size: 1.4254358411rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal; }

.content-section {
  margin-bottom: 12.5rem;
  display: block; }

table {
  border-collapse: collapse;
  width: 100%; }

table caption:not(#sr-only-specificity-fix) {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: .1rem;
  margin: -.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .1rem; }

tr th {
  font-size: 1.0011291504rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.6;
  font-style: normal;
  text-align: left; }
  tr th th + th {
    margin-left: 2.5rem; }

thead {
  border-bottom: 0.125rem solid #e3e3e3; }
  @media (prefers-color-scheme: dark) {
    thead {
      border-bottom-color: black; } }

td {
  font-size: 1.0011291504rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  padding: 0.5rem; }

td code {
  font-size: 1.0011291504rem;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal; }

tr:nth-of-type(2n) {
  background-color: #f1f1f1; }
  @media (prefers-color-scheme: dark) {
    tr:nth-of-type(2n) {
      background-color: #0e0e0e; } }

/*# sourceMappingURL=style.processed.css.map */
