html,
body {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

[disabled],
[aria-disabled="true"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none; }

[hidden] {
  display: none; }

[aria-hidden="true"] {
  visibility: hidden; }

.wrapper {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 100vh; }
  @media screen and (max-width: 1024px) {
    .wrapper {
      flex-wrap: wrap; } }

.content-wrapper {
  background-color: white;
  padding: 0.5rem 12.5rem;
  width: calc(100% - 25rem); }
  @media screen and (min-width: 2200px) {
    .content-wrapper {
      width: 70%; } }
  @media (prefers-color-scheme: dark) {
    .content-wrapper {
      background-color: #1c1c1c;
      color: white; } }
  @media screen and (max-width: 1440px) {
    .content-wrapper {
      padding: 0.5rem 5rem; } }
  @media screen and (max-width: 1024px) {
    .content-wrapper {
      width: 100%; } }

@media screen and (min-width: 1024px) {
  .skip-link:not(#specificity-override) {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: .1rem;
    margin: -.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: .1rem;
    display: inline-block;
    left: -10000000px;
    white-space: nowrap;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    left: -1px;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; } }

@keyframes heading-kaleidoscope {
  0% {
    color: red; }
  10% {
    color: orange; }
  20% {
    color: goldenrod; }
  30% {
    color: yellowgreen; }
  40% {
    color: green; }
  50% {
    color: teal; }
  60% {
    color: blue; }
  70% {
    color: violet; }
  80% {
    color: pink; }
  100% {
    color: red; } }
.header {
  border-bottom: 0.0625rem solid #e3e3e3;
  display: block;
  margin-bottom: 5rem; }
  @media (prefers-color-scheme: dark) {
    .header {
      border-bottom-color: black; } }

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-heading {
  font-size: 1.8040672364rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-style: normal; }

.header-anchor {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  animation-name: heading-kaleidoscope;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  text-decoration: none;
  padding: 0.5rem;
  margin-left: -0.5rem; }
  .header-anchor:focus, .header-anchor:hover {
    background-color: papayawhip; }
    @media (prefers-color-scheme: dark) {
      .header-anchor:focus, .header-anchor:hover {
        background-color: #1c0000; } }

.header-nav__list {
  list-style-type: none;
  padding: 0; }

.header-nav__list-item {
  display: inline-flex; }
  .header-nav__list-item + .header-nav__list-item {
    margin-left: 2.5rem; }

.header-nav__anchor {
  font-size: 1.0011291504rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  position: relative;
  padding: 0.125rem;
  transition: color 100ms ease; }
  @media (prefers-color-scheme: dark) {
    .header-nav__anchor {
      color: rgba(255, 255, 255, 0.6); } }
  .header-nav__anchor:after {
    width: 100%;
    position: relative;
    bottom: 0;
    height: 0.125rem;
    content: '';
    background: linear-gradient(to right, #ffcd71, #e3abb4);
    display: block;
    transform: scaleX(0);
    transition: opacity 100ms ease, transform 150ms ease-in;
    opacity: 0; }
  .header-nav__anchor:focus, .header-nav__anchor:hover {
    color: black; }
    @media (prefers-color-scheme: dark) {
      .header-nav__anchor:focus, .header-nav__anchor:hover {
        color: white; } }
    .header-nav__anchor:focus:after, .header-nav__anchor:hover:after {
      opacity: 1;
      transform: scaleX(1); }

.sidebar {
  background-color: #f1f1f1;
  content: '';
  display: block;
  width: 25rem;
  padding: 2.5rem 0; }
  @media screen and (min-width: 2200px) {
    .sidebar {
      width: 30%; } }
  @media (prefers-color-scheme: dark) {
    .sidebar {
      background-color: black; } }
  @media screen and (max-width: 1024px) {
    .sidebar {
      width: 100%;
      padding: 2.5rem 10rem; } }

.footer-to-top {
  font-size: 1.0011291504rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.6;
  font-style: normal;
  line-height: 1;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  box-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.051), 0 0rem 0.125rem rgba(0, 0, 0, 0.03);
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 0.75rem;
  margin-top: 2.5rem;
  display: inline-block; }
  .footer-to-top:after {
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    border-radius: 0rem;
    box-shadow: 0 0.5rem 0.5625rem rgba(0, 0, 0, 0.06), 0 0rem 0.1875rem rgba(0, 0, 0, 0.036);
    content: '';
    opacity: 0;
    position: absolute;
    transition: opacity 75ms ease-in; }
  .footer-to-top:focus:after, .footer-to-top:hover:after {
    opacity: 1; }
  .footer-to-top:active:after {
    opacity: 0; }

.nav_wrapper {
  max-width: 25rem;
  margin: 0 auto;
  display: block; }
  @media screen and (max-width: 2200px) {
    .nav_wrapper {
      max-width: 15rem; } }
  @media screen and (max-width: 1440px) {
    .nav_wrapper {
      max-width: 15rem; } }
  @media screen and (max-width: 1024px) {
    .nav_wrapper {
      max-width: 100%; } }

.nav__list {
  list-style-type: none;
  padding-left: 0; }

.nav_wrapper > .nav__list > .nav__list-item {
  margin-top: 2.5rem; }
  .nav_wrapper > .nav__list > .nav__list-item .nav__list .nav__list-item {
    margin-top: 0.25rem; }

.nav__list-anchor--heading,
.nav__list-anchor {
  font-size: 1.1262702942rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  text-decoration: none;
  color: black;
  transform: translateX(0);
  transition: transform 150ms ease, color 75ms ease;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }
  .nav__list-anchor--heading .nav__anchor-arrow,
  .nav__list-anchor .nav__anchor-arrow {
    position: absolute;
    right: -1rem;
    display: inline-block;
    transform: translateX(0);
    transition: transform 200ms ease-in-out, opacity 75ms ease-in;
    outline: 1px solid red; }
  .nav__list-anchor--heading:focus, .nav__list-anchor--heading:hover,
  .nav__list-anchor:focus,
  .nav__list-anchor:hover {
    transform: translatex(0.75rem);
    color: #9c75f3; }
    .nav__list-anchor--heading:focus .nav__anchor-arrow, .nav__list-anchor--heading:hover .nav__anchor-arrow,
    .nav__list-anchor:focus .nav__anchor-arrow,
    .nav__list-anchor:hover .nav__anchor-arrow {
      opacity: 1;
      transform: translateX(1.25rem); }
  .nav__list-anchor--heading:focus,
  .nav__list-anchor:focus {
    outline: none !important;
    background-color: rgba(156, 117, 243, 0.25); }
  @media (prefers-color-scheme: dark) {
    .nav__list-anchor--heading,
    .nav__list-anchor {
      color: white; } }

.nav__list-anchor--heading {
  font-size: 1.4254358411rem;
  font-weight: 600; }

.nav__list-anchor {
  color: #8e8e8e; }

.sr-only:not(#specificity-override) {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: .1rem;
  margin: -.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .1rem;
  display: inline-block;
  left: -10000000px;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  left: -1px;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

.type-intro__heading {
  font-size: 4.6288477772rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-style: normal;
  line-height: 1; }

.type-intro__description {
  font-size: 1.8040672364rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  max-width: 50rem;
  padding-bottom: 12.5rem;
  border-bottom: 0.0625rem solid #e3e3e3; }
  @media (prefers-color-scheme: dark) {
    .type-intro__description {
      border-bottom-color: black; } }

.section-heading {
  font-size: 3.6573612067rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-style: normal;
  line-height: 1; }

.section-description {
  font-size: 1.4254358411rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal; }

.content-section {
  margin-bottom: 12.5rem;
  display: block; }

table {
  border-collapse: collapse;
  width: 100%; }

table caption:not(#specificity-override) {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: .1rem;
  margin: -.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .1rem;
  display: inline-block;
  left: -10000000px;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  left: -1px;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

tr th {
  font-size: 1.0011291504rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.6;
  font-style: normal;
  text-align: left; }
  tr th th + th {
    margin-left: 2.5rem; }

thead {
  border-bottom: 0.125rem solid #e3e3e3; }
  @media (prefers-color-scheme: dark) {
    thead {
      border-bottom-color: black; } }

td {
  font-size: 1.0011291504rem;
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  padding: 0.5rem; }

td code {
  font-size: 1.0011291504rem;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal; }

tr:nth-of-type(2n) {
  background-color: #f1f1f1; }
  @media (prefers-color-scheme: dark) {
    tr:nth-of-type(2n) {
      background-color: #0e0e0e; } }

/*# sourceMappingURL=style.processed.css.map */
